.full-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffc107;
    z-index: -2;
}

.box {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
}

.box-article {
    width: 50%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
}

.box-articles {
    width: 50%;
    height: 100px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
}

#group {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

#folder {
    position: relative ;
    width: 100%;
    height: 100%;
}

#lgt {
    margin-top: 410px;
}

@media only screen and (max-width:1280px) {
    #lgt{
        margin-top: 214px;
    }
    
}