.full-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffc107;
    z-index: -2;
}

.box {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
}

.box-article {
    width: 50%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
}

#group {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

#folder {
    position: relative ;
    width: 100%;
    height: 100%;
}